<div class="container">
  <div>
    <h1>To DO List</h1>
    <p>I have the following tasks:</p>
    <button class="btn btn-primary" (click)="addNewTask()">Add New Task</button>
    <app-task-list [childTaskList]="tasks" (clickSender)="editTask($event)"></app-task-list>
  </div>
  <div *ngIf="selectedTask">
    <form (submit)="editTask()">
      <div class="form-group">
        <input class="form-control" type="text" [(ngModel)]="selectedTask.description" name="task_priority">
      </div>
      <button type="submit" class="btn btn-primary">OK</button>
    </form>
  </div>
</div>