<div>
  <div>
    <h1>To DO List</h1>
    <p>I have the following tasks:</p>
    <table>
      <thead>
        <tr>
          <th>Description</th><th>Priority</th><th>Done</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.description }}</td>
          <td>{{ task.priority }}</td>
          <td [class]="colourTasks(task)">{{ task.done }}</td>
          <td><button (click)="task.markDone()">Do</button></td>
          <td><button (click)="editTask(task)">Edit</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="selectedTask">
    <form (submit)="editTask()">
      <input type="text" [(ngModel)]="selectedTask.description" name="task_priority">
      <button type="submit">OK</button>
    </form>
  </div>
</div>